<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mark</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body onbeforeunload="unload();">

<table id="idTable">
</table>

<button id="idBtnSave">保存继续</button>

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script>
    var netPrefix = null;
    var downloadData = null;

    function init() {
        $.ajax({
            url: '/dispose/getNetPrefix',
            type: 'GET',
            async: false,
            success: function (data) {
                console.debug(data);
                netPrefix = data.data;
            }
        });
        $.ajax({
            url: '/dispose/download',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                console.debug(data);
                downloadData = data.data;

                // 清空table
                $('#idTable').empty();

                // 将10张图片和问题文字放上去
                for (var i = 0; i < data.data.length; i++) {
                    var imgUrl = netPrefix + '/' + data.data[i].folderName + '/question.jpg';
                    var question = data.data[i].question;
                    console.debug(imgUrl, question);

                    // 动态生成tr
                    var tr = $('<tr></tr>');

                    // id相关的td
                    var tdId = $('<td style="display:none;">' + data.data[i].id + '</td>');

                    // 动态生成图片td
                    var tdImg = $('<td></td>');
                    // 生成图片
                    var img = $('<img src="' + imgUrl + '">');
                    tdImg.append(img);

                    // 动态生成问题td
                    var tdQuestion = $('<td></td>');
                    // 生成input
                    var input = $('<input type="text" value="' + question + '">');
                    tdQuestion.append(input);

                    tr.append(tdId);
                    tr.append(tdImg);
                    tr.append(tdQuestion);
                    $('#idTable').append(tr);
                }
            }
        });
    }

    $(document).ready(init);
    
    $('#idBtnSave').click(function () {
        $('#idTable tr').each(function (i) {
            var strTd = $(this).children('td')[2];
            var strInput = $(strTd).children('input')[0];
            console.debug($(strInput).val());
            // 更新问题内容
            downloadData[i].question = $(strInput).val();
        })
        console.debug(downloadData);
        // 将数据传回服务器
        $.ajax({
            type: "POST",
            url: "/dispose/upload",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(downloadData),
            dataType: "json",
            success: function (data) {
                if (data.code === 0) {
                    console.debug('成功了');
                    init();
                } else {
                    alert('失败了');
                }
            },
            error: function () {
                alert('数据提交失败');
            }
        });
    });
</script>
</body>
</html>