<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mark</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .picAll {
            margin: 10px;
        }

        .pic {
            padding: 5px;
        }

        .check {
            padding: 0px;
            border: 5px solid red;
        }

        .loading {
            width: 160px;
            height: 56px;
            position: absolute;
            /*top: 50%;*/
            /*left: 25%;*/
            /*margin: 0 auto;*/
            line-height: 56px;
            color: #fff;
            padding-left: 60px;
            font-size: 15px;
            background: #000 url(image/loading.gif) no-repeat 10px 50%;
            opacity: 0.7;
            z-index: 9999;
            -moz-border-radius: 20px;
            -webkit-border-radius: 20px;
            border-radius: 20px;
            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
        }
    </style>
</head>
<body onbeforeunload="unload();">

<div>
    <label>问题图片：</label>
    <img id="idImgQuestion" src="" alt="">
</div>
<div>
    <label for="idInputQuestion">问题内容：</label>
    <input id="idInputQuestion" type="text">
</div>

<p>选择答案：</p>

<input id="idFolderName" style="display: none;">
<div id="idPicAll" class="picAll">
    <div>
        <img class="pic col-xs-3" id="idImgPic00" src="" alt="" onload="picLoad(0x01 << 0)">
        <img class="pic col-xs-3" id="idImgPic01" src="" alt="" onload="picLoad(0x01 << 1)">
        <img class="pic col-xs-3" id="idImgPic02" src="" alt="" onload="picLoad(0x01 << 2)">
        <img class="pic col-xs-3" id="idImgPic03" src="" alt="" onload="picLoad(0x01 << 3)">
    </div>

    <div>
        <img class="pic col-xs-3" id="idImgPic10" src="" alt="" onload="picLoad(0x01 << 4)">
        <img class="pic col-xs-3" id="idImgPic11" src="" alt="" onload="picLoad(0x01 << 5)">
        <img class="pic col-xs-3" id="idImgPic12" src="" alt="" onload="picLoad(0x01 << 6)">
        <img class="pic col-xs-3" id="idImgPic13" src="" alt="" onload="picLoad(0x01 << 7)">
    </div>
</div>

<div>
    <button id="idSaveContinue">保存继续</button>
    <label id="idResult"></label>
    <!--<button id="idSave">保存</button>-->
    <!--<button id="previous">上一个</button>-->
    <!--<button id="next">下一个</button>-->
</div>

<!--<div>-->
<!--<label for="idInputFolderName">输入图片坐标</label>-->
<!--<input id="idInputFolderName" type="text">-->
<!--<button>跳转</button>-->
<!--</div>-->

<div id="myModal" class="modal" data-keyboard="false"
     tabindex="-1" role="dialog" data-backdrop="static"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-body">
            <div id="loading" class="loading">加载中。。。</div>
        </div>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script>

    $('#myModal').on('shown.bs.modal', function () {
        var $this = $(this);
        var dialog = $this.find('.modal-dialog');

        //此种方式，在使用动画第一次显示时有问题
        //解决方案，去掉动画fade样式
        var top = ($(window).height() - dialog.height()) / 2;
        var left = ($(window).width() - dialog.width()) / 2;
        console.debug('window.height=' + $(window).height());
        console.debug('window.height=' + $(window).width());
        console.debug('dialog.height=' + dialog.height());
        console.debug('dialog.width=' + dialog.width());
        console.debug('top=' + top);
        console.debug('left=' + left);
        dialog.css({
            marginTop: top,
            marginLeft: left
        });

        console.debug("loading.width=" + $('#loading').width());
        left = (dialog.width() - $('#loading').width() - 60) / 2;
        $('#loading').css({
            marginLeft: left
        });
    });

    function updateComponents(data) {

        // 清除问题
        $('#idInputQuestion').val('');

        // 清除选择状态
        var allIdPic = $('#idPicAll img');
        for (var i = 0; i < allIdPic.length; i++) {
            var idPic = $(allIdPic[i]);
            idPic.removeClass('check')
        }

        $('#idFolderName').val(data.data.folderName);
        $('#idInputQuestion').val(data.data.question);
        $('#idImgQuestion').attr('src', data.data.questionUrl);
        $('#idImgPic00').attr('src', data.data.pic00Url);
        $('#idImgPic01').attr('src', data.data.pic01Url);
        $('#idImgPic02').attr('src', data.data.pic02Url);
        $('#idImgPic03').attr('src', data.data.pic03Url);
        $('#idImgPic10').attr('src', data.data.pic10Url);
        $('#idImgPic11').attr('src', data.data.pic11Url);
        $('#idImgPic12').attr('src', data.data.pic12Url);
        $('#idImgPic13').attr('src', data.data.pic13Url);
    }

    function initUnanswerQuestion() {
        $.ajax({
            url: '/getUncheckQuestion',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                if (data.code != 0) {
                    // 说明有错误
                    alert(data.msg);
                    return;
                }
                updateComponents(data);
            }
        });
    }

    var loadImagePos = 0;

    function picLoad(pos) {
        loadImagePos |= pos;
        console.debug('pos = ' + pos + ', loadImagePos = ' + loadImagePos);
        if (loadImagePos == 0xff) {
            // 关闭模态框
            console.debug('myModal hide');
            $('#myModal').modal('hide');
            // 清除回答状态
            $('#idResult').text('');
        }
    }

    $(document).ready(function () {
        $('#myModal').modal('show');
        initUnanswerQuestion();
    })
    ;

    function unload() {
        $.ajax({
            url: '/deleteQuestion',
            type: 'POST',
            data: {
                folderName: $('#idFolderName').val(),
            },
            success: function () {
                console.debug("window close");
            }
        });
    }

    $('#idPicAll img').click(function () {
        var item = $(this);
        console.debug(this);
        console.debug(item);
        item.toggleClass('check');
    });

    $('#idSaveContinue').click(function () {

        // 判断问题有没有填写
        if ($('#idInputQuestion').val() === '') {
            alert('请填写问题');
            return;
        }

        // 判断图片有没有选择
        var allIdPic = $('#idPicAll img');
        var checkList = [];
        for (var i = 0; i < allIdPic.length; i++) {
            var idPic = $(allIdPic[i]);
            console.debug(idPic);
            if (idPic.hasClass('check')) {
                checkList.push(i + 1);
            }
        }
        if (checkList.length === 0) {
            alert('请选择答案');
            return;
        }

        $('#myModal').modal('show');
        $('#idResult').text('等待回答结果');
        loadImagePos = 0x00;

        $.ajax({
            url: '/answerQuestion',
            type: 'POST',
            data: {
                folderName: $('#idFolderName').val(),
                question: $('#idInputQuestion').val(),
                choose: checkList.join(',')
            },
            dataType: 'json',
            success: function (data) {
                if (data.code === 0) {
                    $('#idResult').text('回答正确');
                    updateComponents(data);
                } else {
                    $('#idResult').text(data.msg);
                    initUnanswerQuestion();
                }
            }
        });
    });
</script>
</body>
</html>