<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mark</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .picAll {
            margin: 10px;
        }

        .pic {
            padding: 5px;
        }

        .check {
            padding: 0px;
            border: 5px solid red;
        }
    </style>
</head>
<body onunload="unload();">

<div>
    <label>问题图片：</label>
    <img id="idImgQuestion" src="" alt="">
</div>
<div>
    <label for="idInputQuestion">问题内容：</label>
    <input id="idInputQuestion" type="text">
</div>

<p>选择答案：</p>

<input id="idFolderName" style="display: none;">
<div id="idPicAll" class="picAll">
    <div>
        <img class="pic col-xs-3" id="idImgPic00" src="" alt="">
        <img class="pic col-xs-3" id="idImgPic01" src="" alt="">
        <img class="pic col-xs-3" id="idImgPic02" src="" alt="">
        <img class="pic col-xs-3" id="idImgPic03" src="" alt="">
    </div>

    <div>
        <img class="pic col-xs-3" id="idImgPic10" src="" alt="">
        <img class="pic col-xs-3" id="idImgPic11" src="" alt="">
        <img class="pic col-xs-3" id="idImgPic12" src="" alt="">
        <img class="pic col-xs-3" id="idImgPic13" src="" alt="">
    </div>
</div>

<div>
    <button id="idSaveContinue">保存继续</button>
    <label id="idResult"></label>
    <!--<button id="idSave">保存</button>-->
    <!--<button id="previous">上一个</button>-->
    <!--<button id="next">下一个</button>-->
</div>

<!--<div>-->
<!--<label for="idInputFolderName">输入图片坐标</label>-->
<!--<input id="idInputFolderName" type="text">-->
<!--<button>跳转</button>-->
<!--</div>-->

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script>

    function updateComponents(data) {

        // 清除问题
        $('#idInputQuestion').val('');

        // 清除回答状态
        $('#idResult').text('');

        // 清除选择状态
        var allIdPic = $('#idPicAll img');
        for (var i = 0; i < allIdPic.length; i++) {
            var idPic = $(allIdPic[i]);
            idPic.removeClass('check')
        }

        $('#idFolderName').val(data.data.folderName);
        $('#idInputQuestion').val(data.data.question);
        $('#idImgQuestion').attr('src', data.data.questionUrl);
        $('#idImgPic00').attr('src', data.data.pic00Url);
        $('#idImgPic01').attr('src', data.data.pic01Url);
        $('#idImgPic02').attr('src', data.data.pic02Url);
        $('#idImgPic03').attr('src', data.data.pic03Url);
        $('#idImgPic10').attr('src', data.data.pic10Url);
        $('#idImgPic11').attr('src', data.data.pic11Url);
        $('#idImgPic12').attr('src', data.data.pic12Url);
        $('#idImgPic13').attr('src', data.data.pic13Url);
    }

    function initUnanswerQuestion() {
        $.ajax({
            url: '/getUncheckQuestion',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                if (data.code != 0) {
                    // 说明有错误
                    alert(data.msg);
                    return;
                }
                updateComponents(data);
            }
        });
    }

    $(document).ready(function () {
        initUnanswerQuestion();
    });

    function unload() {
        $.ajax({
            url: '/deleteQuestion',
            type: 'POST',
            data: {
                folderName: $('#idFolderName').val(),
            },
            success: function () {
                console.debug("window close");
            }
        });
    }

    $('#idPicAll img').click(function () {
        var item = $(this);
        console.debug(this);
        console.debug(item);
        item.toggleClass('check');
    });

    $('#idSaveContinue').click(function () {

        // 判断问题有没有填写
        if ($('#idInputQuestion').val() === '') {
            alert('请填写问题');
            return;
        }

        // 判断图片有没有选择
        var allIdPic = $('#idPicAll img');
        var checkList = [];
        for (var i = 0; i < allIdPic.length; i++) {
            var idPic = $(allIdPic[i]);
            console.debug(idPic);
            if (idPic.hasClass('check')) {
                checkList.push(i + 1);
            }
        }
        if (checkList.length === 0) {
            alert('请选择答案');
            return;
        }

        $.ajax({
            url: '/answerQuestion',
            type: 'POST',
            data: {
                folderName: $('#idFolderName').val(),
                question: $('#idInputQuestion').val(),
                choose: checkList.join(',')
            },
            dataType: 'json',
            success: function (data) {
                if (data.code === 0) {
                    $('#idResult').text(data.msg);
                    setTimeout(updateComponents(data), 2000);
                } else {
                    $('#idResult').text(data.msg);
                    setTimeout(initUnanswerQuestion(), 2000);
                }
            }
        });
    });
</script>
</body>
</html>